**/Clase_01_M1.pdf
**/conversion-de-decimal-a-binario.pdf
**/hellogit.py
**/Homework 1_Resuelto.ipynb
**/Homework resuelto de nuevo.ipynb
**/lenguajes.JPG
**/Prueba Debug.ipynb
**/README.json
**/Resolución.ipynb
